/*these styles will modify the bootstrap defaults*/

body {
	background: url(../images/rockywall_@2X.png);
}

h1 {
	color: #4aaaaf;
	font-weight: 700;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	line-height: 49px;
	padding-bottom: 10px;
	border-bottom: 3px solid #ddd;
}

h2, h3 {
	color: #4aaaaf;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
}

.navbar-default {
	background: #fff;
	border-bottom: 2px solid #ccc;
	margin-bottom: 0px;
	color: #777;
	font-size: 20px;
}

.navbar-brand {
	font-size: 30px;
	font-weight: 700;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-decoration: none;

}

.emptybox {
	padding: 15px 0;
}

.main-section {
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 18px;
}

.education {
	font-size: 14px;
}

#auth-image {
	float: left;
	margin: 20px 20px 20px 0px;
}

.sidebar {
	background: #fff;
	border-radius: 10px;
	padding: 20px;	
	margin-bottom: 20px;
}

.footer {
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

.social {
	margin: auto;
}

/* portfolio page */

.work {
  width: 274px;
  padding: 10px;
 }

.work img {
  width: 100%;
  border: 0 none;
  border-radius: 10px;
  opacity: 0.8;
}

.work h3 {
  position: relative;
  bottom: 100px;
  width: 100%;
  padding: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

#message {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
  border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #999;
}